#root {
  /* max-width: 1280px; */
  /* text-align: center; */
}

.section {
  padding-left: 1.5rem;
}

.read-the-docs {
  font-size: 12px;
  color: var(--dark);
}

.spacer {
  margin-top: 40px;
  margin-bottom: 30px;
  border-top: 5px double var(--primary);
}

.form-container {
  display: flex;
  justify-content: flex-start; /* Aligns items to the start of the container */
  gap: 10px; /* Adds space between the Dropdown and the paragraph */
}