/* root applies globally, is overriden by the #root selector referenced in main.jsx */
:root {
  font-family: Lucida Grande, Avenir, Helvetica, Arial, system-ui;
  line-height: 1; /* line-height is basically spacing */
  font-weight: normal;
  font-size: 14px;

  /* some browser text optimization */
  font-synthesis: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* CSS HEX THEME*/
  --dark: #636B73;
  --grey: #4E4E4E;
  --accent: #79C2D6; /* sky-blue */
  --primary: #4A629F; /* lapis-lazuli */
  --secondary: #439EC1; /* blue-green */
  --tertiary: #6D90B3; /* silver-lake-blue */
  --light: #EEEDEE;
  --black: #1A1A1A;

  /* global color scheme */
  color-scheme: light;
  color: var(--black);
  background-color: var(--light);
}

a {
  font-weight: inherit;
  color: var(--secondary);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent);
}

body {
  margin: 0;
  display: flex;
  align-items: flex-start; /* Align items vertically to the start */
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

button {
  border-radius: 6px;
  border: 2px solid transparent;
  padding: 2px 10px; /* vertical and horizontal padding */
  height: 30px;
  font-size: 1em;
  font-family: inherit;
  background-color: var(--dark);
  color: var(--light);
  cursor: pointer;
  transition: border-color 0.1s;
}
button:hover {
  border-color: var(--tertiary);
}

select {
  border-radius: 6px;
  border: 2px solid transparent;
  padding: 2px 10px; /* vertical and horizontal padding */
  height: 30px;
  font-size: 1em;
  font-family: inherit;
  background-color: var(--dark);
  color: var(--light);
  transition: border-color 0.1s;
}
select:hover {
  border-color: var(--tertiary);
}

h1 {
  color: var(--primary);
  font-weight: bold;
  font-size: 45px;
}

input {
  border-radius: 6px;
  border: 2px solid transparent;
  padding: 2px 10px; /* vertical and horizontal padding */
  height: 22px;
  font-size: 0.8em;
  font-family: inherit;
  background-color: var(--light);
  color: var(--secondary);
  transition: border-color 0.1s;
  border-color: var(--dark);
}
input:hover {
  border-color: var(--tertiary);
}